html, body {
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #4263EB 0%, #D6336C 100%);
    color: #F8F9FA;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
}

.container {
    min-height: 100%;
    /*margin: 64px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
}

.time {
    font-family: "Roboto Mono", "Source Code Pro", "PT Mono", monospace;
    font-weight: light;
    font-size: 7rem;
    text-align: center;
}

.separator {
    color: #495057;
}

.controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Margin helpers */

.m2 {
    margin: 2rem;
}

.mx2 {
    margin: 0 0.5rem;
}

.mx4 {
    margin: 0 4rem;
}



.button {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background: #E9ECEF;
}

.button:hover {
    background: #CED4DA;
}

.button-start {
    background: url("../images/play.svg") no-repeat 60% 50% #38D9A9;
}

.button-start:hover {
    background: url("../images/play.svg") no-repeat 60% 50% #12B886;

}

.button-stop {
    background: url("../images/stop.svg") no-repeat center #FF8787;
}

.button-stop:hover {
    background: url("../images/stop.svg") no-repeat center #FA5252;
}

.button-reset {
    filter: invert();
    background: url("../images/reset.svg") no-repeat center transparent;
}

.button-reset:hover {
    background: url("../images/reset.svg") no-repeat center #495057;
}

.header {

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 2rem;
}

.about {
    font-size: 1.5rem;
    color: #F8F9FA;
    display: block;
    text-decoration: none;
}


.theme {
    display: block;
    width: 2rem;
    height: 2rem;
    background: url("../images/theme.svg") no-repeat center;
    background-size: contain;
}
